#loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  transition: opacity .5s ease, visibility .5s ease;
}

.spinner {
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    border-radius: 100%;
    box-shadow: 0 0 8px #ffffff, 0 0 8px #ffffff inset;
}

#loader.hidden {
  opacity: 0;
  visibility: hidden;   
}

body{
    font-family: Arial;
}

.Sec1{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    min-width: 90vw;
    background: linear-gradient(180deg, white, gray, black) center / cover no-repeat;
    z-index: 2;
}